*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.body{
    display:flex;
}

.nav-container{
    display:flex;
    height:100vh;
    width:250px;
    background:#006400 /*#567568 #1f2937*/;
    color:white;
    flex-direction:column;
}


.nav-container h2{
    font-family:roboto, sans-serif;
    text-align:center;
    padding:0.5rem 0;
    cursor:pointer;
}

#nav-list {
    display:flex;
    flex-direction:column;
}

#nav-list li{
    font-family: corbel;
    background-color:#38B000/*#7F9172*/;
    padding:0.5rem;
    border-bottom:1px solid white;
    border-radius:0 0 10px 10px;
    font-weight:bold;
    color:white;
    text-align:center;
    cursor: pointer;
    user-select:none;
}

.main-page{
    background-color:;
    flex:1;
}

.main-header{
    display: flex;
    justify-content:space-between;
    padding:2rem 1rem;
    background:white;
    border-bottom:1px solid #0a0a0a;
}


.main-content{
    
}



.inventory{
    padding:1rem;
}

.inventory table, .inventory td, .inventory th{
    border:1px solid black;
    border-collapse:collapse;    
}

.inventory td, .inventory th{
    padding:0.5rem;
}

.inventory th{
    padding:0.5rem;
    border:2px solid black;
}